.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 1005px;
    height: 40px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background-color: pink;
  }
  .checkbox {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1.5px solid #D0D5DD;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .firstContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 965px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .whiteContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 316.8px;
    height: 34px;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: space-between;
  }
  .toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-left: auto;
    width: 102px;
    height: 40px;
    background-color: pink;
  }
  .smaller{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    background-color: green;
  }
  .smaller >div{
    border-radius: 50%;
    border: 1px solid blue;
    color:blue;
    width:20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-left: -9px;
    position: relative;
    z-index: 1;
  }
  .smaller img{
    width:24px;
    height: 24px;
    object-fit: cover;
    margin-left: -10px;
  }
  .textContainer {
    display: flex;
    align-items: center;
    width: 206.8px;
    height: 34px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #101828;
  }
  .socialItem {
    width: 25%;
    flex: none;
    order: 0;
  }
  .Linkedin{
    width: 23px;
    height: 23px;
  }
  .gmail:hover,
  .asana:hover,
  .Linkedin:hover {
    transform: scale(1.1);
  }

