.buttonStyles {
  display:flex;
  align-items: center;
  text-transform: none;
  font-style: normal;
  font-size: 13px;
  color: #667085;
  border: 0;
  padding: 12px 8px;
  width: 100%;
  gap: 4px;
  background: transparent;
  cursor: pointer;
}

.buttonStyles:hover {
  background: rgba(0,0,0,0.1);
}